@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

/* navbar */
body::before {
    display: block;
    content: '';
    height: 60px;
} 
/* scroll to top */
#button {
    display: inline-block;  
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
    opacity .5s, visibility .5s;
    opacity: 0;
    z-index: 1000;
    pointer-events: none;
    padding: 0.5rem; 
    color: #2e2725 !important
  }

  #button i{
    font-size:32px;
    color:#2e2725;
  } 

  #button:hover {
    cursor: pointer; 
  }
  
  #button.show {
    opacity: 1;
    pointer-events: all;
  } 

/* colors */

.bg-dark {
    background-color: #858180 !important
}

.navbar-dark {
    background-color: #2e2725 !important
}

.text-warning {
    color: #923821 !important
}

.bg-secondary {
    background-color: #923821 !important
}

.btn-lg {
    border: none;
    text-decoration: none;
    background-color: #944b38 !important
}

/* text elements */

#contact a {
    text-decoration: none;
    color: black;
}

#contact a:hover {
    color: #ff3300;
}

#showcase a:hover,
#showcase a:visited,
#showcase a,
#showcase a:link,
#showcase a:active {
    text-decoration: none;
    color: white;
}

.center-align {
    text-align: center;
}

p {
    font-size: 1.07rem;
    font-weight: 300
}

/* Images resizing */

.cabin-height {
    height: 922px !important
}

.loft-height {
    height: 968px !important
}

.ps-8 {
    padding-left: 4.5rem;
}

/* carousel */
.carousel-inner img {
    margin: auto;
}

/* Image zoom */
#fullpage {
    display: none;
    position: relative;
    z-index: 8888;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: #2e2725;
}

.carousel-inner img:hover {
    cursor: zoom-in;
}

.modal-body {
    padding: 0;
}

.modal-content {
    background-color: #2e2725;
    border: none;
    padding: 0;
}

.custom-close {
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    padding-right: 1rem;
    padding-top: 1rem;
}

#boxes{
    transition: background-color .3s, ;
}

/* media */
@media(max-width: 768px) {
    .w-50 {
        width: 100% !important;
    }

    .cabin-height {
        height: auto !important
    }

    .loft-height {
        height: auto !important
    }

    /* .center-align {
        text-align: left;
    } */

    .my-4 {
        text-align: left;
    }

    #button {
        padding: 0.2rem;
    }  
    #showcase img{
        padding-top: 1rem;
    }
    #works p, h2 {
        text-align: center !important; 
    }
    #showcase p{
        text-align: center !important; 
    }
}

@media(min-width: 1400px) {
    .card-body {
        height: 247px !important
    }
}